<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="JVSH Technologies">
    <meta name="description"
        content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta property="og:description"
        content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">
    <meta property="og:image" content="frontend/assets/images/demos/demo-8/logo.png">
    <meta name="twitter:title" content="Professional Sports Jerseys Manufacturer in Mumbai | Mayur Sports">
    <meta name="twitter:description"
        content="Mayur Sports is a leading professional sports jerseys manufacturer in Mumbai, providing high-quality sports apparel. Find the perfect sports jerseys for your team at Mayur Sports.">



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mayur Sports | Professional Sports Jerseys Manufacturer in Mumbai </title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontend/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="frontend/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="frontend/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/style.css">
    <link rel="stylesheet" href="frontend/assets/css/skins/skin-demo-8.css">
    <link rel="stylesheet" href="frontend/assets/css/demos/demo-8.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="page-wrapper" style="height: inherit;">
        <div class="page-card">
            <div class="page-header text-center"
                style="background-image: url('frontend/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Reset Password</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <div class="mb-1">
                <form id="myform">
                    <center><span class="mb-2 text-danger" id="showloginerr"></span></center>
                    <center><span class="mb-2 text-success" id="successmsg"></span></center>
                    <div class="row">

                        <label for="reset-password">New Password</label>
                        <input type="password" class="form-control" id="reset-password" style="border-radius: 8px;"
                            name="password" required>
                        <input type="hidden" name="uId" value="<%= userData._id %>">
                        <input type="hidden" name="name" value="<%= userData.name %>">
                        <input type="hidden" name="email" value="<%= userData.email %>">
                        <button id="updatebtn" type="submit" style="border-color: #616161!important;"
                            class="btn btn-outline-primary-2">
                            <span style="color:#616161;">UPDATE PASSWORD</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                </form>
            </div>
        </div>
    </div>
    <%- include("./footer.ejs") %>
</body>
<script>
    var $form = $('#myform')
    $form.on('submit', submitHandler)

    function submitHandler(e) {
        e.preventDefault();
        $("#updatebtn").prop("disabled", true);
        $.ajax({
            url: '/api/resetpassword',
            type: 'POST',
            data: $form.serialize()
        }).done(response => {
            if (response.error) {
                $("#showloginerr").text(response.error)
                $("#updatebtn").prop("disabled", false);
            } else {
                $("#showloginerr").hide()
                $("#successmsg").text(response.success);
            }
        })
    }
</script>

</html>