<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Page</title>
    <script>
        window.onload = function () {
            var videoPlayed = false;
            var videoEntered = false;
            function checkTime() {
                var targetTime = new Date('February 28, 2024 11:00:00 GMT+0530').getTime();
                var currentTime = new Date().getTime();
                if (currentTime >= targetTime && !videoPlayed && !videoEntered) {
                    document.getElementById("video").style.display = "block";
                    playVideo();
                    var videoEntered = true;
                } else if (currentTime >= targetTime && videoPlayed) {
                    window.location.href = "/";
                }
            }
            function playVideo() {
                var video = document.getElementsByTagName('video')[0];
                video.addEventListener('ended', function() {
                    videoPlayed = true;
                });
            }
            setInterval(checkTime, 1000);
        };
    </script>
    <style>
        













/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
    </style>
</head>
<body>
    <div id="timer" class="container">
        <h1 id="headline">Mayur Sports Launching In</h1>
        <div id="countdown">
            <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
            </ul>
        </div>
    </div>
    <div id="video" class="container-fluid" style="display: none;">
        <video src="/uploads/launch.mp4" controls playsinline autoplay muted style="height: 100vh;width: 100vw;"></video>
    </div>
      <script>
(function () {
    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    // Target date: February 28, 2024, 11:00 AM IST
    const targetDate = new Date('February 28, 2024 11:00:00 GMT+0530').getTime();

    const x = setInterval(function() {    
        const now = new Date().getTime(),
              distance = targetDate - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
            document.getElementById("headline").innerText = "It's time!";
            document.getElementById("countdown").style.display = "none";
            document.getElementById("timer").style.display = "none";
            document.body.style.display = "block";
            document.getElementById("video").style.display = "block";
            clearInterval(x);
        }
    }, 0);
}());

      </script>
</body>
</html>
