  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

     
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-grid"></i>
          <span>Profile</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-heading">Orders</li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/order-view">
        <i class="bi bi-grid"></i>
          <span>All Orders</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/order-filtered-view">
        <i class="bi bi-grid"></i>
          <span>Unapproved Orders</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/product-view">
        <i class="bi bi-grid"></i>
          <span>Products</span>
        </a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/category-view">
        <i class="bi bi-grid"></i>
          <span>Categories</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/pincode-view">
        <i class="bi bi-grid"></i>
          <span>Pincodes</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/coupon-view">
        <i class="bi bi-grid"></i>
          <span>Coupons</span>
        </a>
      </li>

      <li class="nav-heading">Returns</li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/return-view">
        <i class="bi bi-grid"></i>
          <span>Unresolved Returns</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/return-view-resolved">
        <i class="bi bi-grid"></i>
          <span>Resolved Returns</span>
        </a>
      </li>

      <li class="nav-heading">Miscellaneous</li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/slider-view">
        <i class="bi bi-grid"></i>
          <span>Slide Images</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/sponsor-view">
        <i class="bi bi-grid"></i>
          <span>Sponsors</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/banner-view">
        <i class="bi bi-grid"></i>
          <span>Change Banner</span>
        </a>
      </li>
      <!-- End Testimonials Nav -->

     
    </ul>

  </aside>
  <!-- End Sidebar-->